.slidecards__card-title.n-1 {
  color: #360f30;
}

.slidecards__card-title.n-2 {
  color: #482f85;
}

.slidecards__card-title.n-3 {
  color: #993e28;
}

.slidecards__card-title.n-4 {
  color: #1f7e83;
}

.slidecards__card-title.n-5 {
  color: #1f7e31;
}

.button-0 {
  color: #360f30;
  -webkit-box-shadow: -3px 3px 0 rgba(54, 15, 48, 0.9);
  box-shadow: -3px 3px 0 rgba(54, 15, 48, 0.9);
}

.button-1 {
  color: #482f85;
  -webkit-box-shadow: -3px 3px 0 rgba(72, 47, 133, 0.9);
  box-shadow: -3px 3px 0 rgba(72, 47, 133, 0.9);
}

.button-2 {
  color: #993e28;
  -webkit-box-shadow: -3px 3px 0 rgba(153, 62, 40, 0.9);
  box-shadow: -3px 3px 0 rgba(153, 62, 40, 0.9);
}

.button-3 {
  color: #1f7e83;
  -webkit-box-shadow: -3px 3px 0 rgba(31, 126, 131, 0.9);
  box-shadow: -3px 3px 0 rgba(31, 126, 131, 0.9);
}

.button.n-4 {
  color: #1f7e31;
  -webkit-box-shadow: -3px 3px 0 rgba(31, 126, 49, 0.9);
  box-shadow: -3px 3px 0 rgba(31, 126, 49, 0.9);
}
