.footer {
  margin-top: 0;
}
.footer {
  background-color: #450d0d;
  -webkit-clip-path: polygon(0 20%, 1600px 0, 1600px 80%, 0 100%);
  clip-path: polygon(0 20%, 1600px 0, 1600px 80%, 0 100%);
  padding: 130px 1rem 40px 1rem;
  margin-top: -100px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 10rem;
    padding-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .footer {
    margin-top: 0;
    padding-top: 11rem;
  }
}
@media (min-width: 1200px) {
  .footer {
    -webkit-clip-path: none;
    clip-path: none;
    padding-top: 110px;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
  }
}
.footer__wrapper {
  padding-top: 100px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(49%, rgba(255, 255, 255, 1)),
    color-stop(49%, rgba(135, 204, 47, 1))
  );

  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 49%,
    rgba(135, 204, 47, 1) 49%
  );

  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 49%,
    rgba(135, 204, 47, 1) 49%
  );

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 49%,
    rgba(135, 204, 47, 1) 49%
  );
}
@media (min-width: 1200px) {
}
@media (min-width: 1200px) {
  .footer__inner-wrapper {
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg);
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .footer__logos {
    float: left;
    width: 30%;
    padding-bottom: 1.5rem;
  }
}
.footer a {
  color: #fff;
}
.footer__logo-link {
  display: block;
  margin-bottom: 1rem;
}
.footer__logo-link img {
  max-width: 250px;
}
.footer__row {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .footer__row {
    float: right;
    width: 70%;
    font-size: 1.1rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
}
@media (min-width: 1200px) {
  .footer__row {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .footer__column {
    width: 50%;
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .footer__column--1 {
    float: left;
    text-align: right;
  }
}
.footer__column--2 {
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .footer__column--2 {
    float: right;
    margin-top: 0;
    text-align-last: left;
    border-left: 1px solid rgba(255, 255, 255, 0.7);
  }
}
.footer__copyright {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.85rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 1rem;
  line-height: 1.4;
  clear: both;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 1rem;
    padding-top: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .footer__copyright {
    font-size: 0.9rem;
  }
}
.footer .country-name {
  display: none;
}
.footer__social-media {
  margin-bottom: 2rem;
}
@media (min-width: 1024px) {
  .footer__social-media {
    margin-bottom: 0;
    margin-top: -3rem;
  }
}
.footer__social-media a {
  font-size: 2rem;
  margin: 0 1rem;
}
@media (min-width: 768px) {
  .footer__social-media a {
    font-size: 3rem;
    margin: 0 1rem;
  }
}
.footer__social-media a:hover {
  color: #87cc2f;
}
