.button {
  padding: 0.5rem 0.9rem;
  background-color: blue;
  border: none;
  font-size: 1.1rem;
  color: white;
  text-align: center;
  font-family: Jubilat, serif;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
}
.button:hover {
  background-color: white;
  color: blue;
}
.content-anchor {
  position: relative;
  top: -100px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
